PBS_REPOSITORY="user@pbs!token@pbs.example.com:datastore"
PBS_FINGERPRINT="AA:BB:CC:DD:EE:FF"

BACKUP_ID=""
PBS_NAMESPACE="pve-hosts"

INCLUDE_ETC=1
INCLUDE_ETC_PVE=1
INCLUDE_ROOT=1
INCLUDE_USR_LOCAL=1
INCLUDE_META=1

ETC_PATH="/etc"
ETC_PVE_PATH="/etc/pve"
ROOT_PATH="/root"
USR_LOCAL_PATH="/usr/local"
META_DIR="/var/lib/pve-host-backup-meta"

ENABLE_ROOTFS=0

EXCLUDES="/var/log/** /tmp/** /var/tmp/** /proc/** /sys/** /dev/** /run/** /var/lib/vz/**"

ON_CALENDAR="*-*-* 02:00:00"
RANDOM_DELAY_SEC=7200
